<p id="notice"><%= notice %></p>

<h1>Pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Types</th>
      <th colspan="2">Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.id %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.types %></td>
        <td><%= pokemon.image %></td>
        <td><img height="150px" width="100px" src="<%= pokemon.image %>" /></td>
      </tr>
    <% end %>
  </tbody>
</table>
