<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @pokemon.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.types %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pokemon.image %>
</p>

<img height="150px" src="<%= @pokemon.image %>" />

<br />

<%= link_to 'Back', pokemons_path %>
