<!DOCTYPE html>
<html>
  <head>
		<meta property="og:title" content="Pokemon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="This project is a single-page application (SPA) is a browsable list of Pokemon that you can filter by type and access to the details of each one. Built with React and Redux."/>
    <meta property="og:image" content="https://raw.githubusercontent.com/mcervantes71/Pokemon_API/feature/build/docs/Screenshot.png" />
    <meta property="og:url" content="https://pokemons-api-project.herokuapp.com" />
    <title>Pokemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
